body {
    max-width: 100%;
    margin:auto;  
}

header {
    width: auto;
    background-image: url(assets/images/gradient.jpeg);
    height: 75px;
    margin: 0px;     
}

h1 {
    margin-top:0px;
    padding:0px;
    background: #217DB1;
    padding: 20.8px;
    margin-left: -10px;       
}

header h1 {
    font-size: 30px;
    color:#ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    float: left;  
}

nav {
    float:right;   
}

li a{
    text-decoration: none;
    color: #777;
}
    


nav li  {
    display: inline-block;
    
    margin-right: 70px;
    padding-top: 5px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#aboutMe {
    clear: both;
    max-width:960px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #217DB1;
    margin: auto;
    margin-top: 30px;
    background-color: #ebebeb;
    height: 100%;
    padding-top: 10px;
    text-indent: 21px;
    padding-left: 20px;
    font-weight: bold;
    border-style: solid;
    border-color: #cccccc;   
}

hr {
    margin:20px;
}

.bio {
    font-size: 14px;
    color: black;
    font-weight: normal;
    padding: 20px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    text-indent: 35px;
}

img {
    max-height: 320px;
    float:left;
    padding: 14px 18px 18px 25px;
    z-index: 10;
}

.blue_box {
    position: fixed;
    left:0px;
    bottom: 40px;
    height: 5px;
    width: 100%;
    background-color: #217DB1;
    margin-top: 49px;   
    z-index:30;
}

footer {
    position: fixed;
    left:0px;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    z-index:30;
}




@media only screen and (max-width: 1700px) {

/*---------------contact.html---------------------------------------!1700!--------contact.hmtl----------*/
    

    .headerColor {
        background-image: url(assets/images/gradient_silver.png);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .changeMe {
        background-color: #777;
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    .headerColor {
        background-color:#777;
        color:black;
        margin-left: 20px;
        transition: 1s; 
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*------------index.html------------------------------!1700!------------------index.html------------*/


    body {
        background-image: url(assets/images/gradient_green_blue_horizon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
    }

    header {
        
        background-color: #ebebeb;
        height: 53px;
        transition: 1s;         
    }

    h1 {
        margin-top:0px;
        padding:0px;
        background: #217DB1;
        padding: 9px;
        margin-left: 60px;
        transition: 1s;     
    }

    nav li {
        
        transition: 1s; 
        margin-left: 20px;
        margin-right: 10px;    
    }

    #aboutMe {
        margin-left: 51px;
        margin-bottom: 150px;
        width:575px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #217DB1;
        border: 1px solid #777;
        background-color: #ebebeb;
        text-indent: 21px;
        padding-left: 10px;
        transition: 1s;     
    }

    /*-------------portfolio.html----------------------------------------!1700!-----------portfolio.html--*/


    nav li{
        margin-right:170px;
        margin-left:60px;
        margin-top:10px;
    }
    body {
        background-color: #215796;
    }

    #whiteBox {
        margin: 40px 130px 100px 60px;
        background: #708090;
        background-repeat: no-repeat;
        background-size:cover;
        height: 850px;
        transition:1s;
        margin-right:160px;
    }

    #contact {
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color:#217DB1;
        padding: 15px 0px 10px 15px;
        transition:1s;
    }

    #whiteBox .u4g div a{
        margin-left:-285px;
        font-size:20px;
        text-decoration: none;
        color:black;
        position: absolute;
        margin-top: 238px;
        z-index: 20;
        padding-left: 80px;
        padding-right: 82px;
        background-color: #777;
        opacity: 0.75;  
    }

    #whiteBox .wgg div a {
        margin-left:-285px;
        font-size:20px;
        text-decoration: none;
        color:black;
        position: absolute;
        margin-top: 238px;
        z-index: 20;
        padding-left: 50px;
        padding-right: 52px;
        background-color: #777;
        opacity: 0.75;  
    }

    

    .pic_01 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 238px;
        margin-left: 25px;
        padding-left: 300px;
        padding-right:32px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_01 .pic_1 {
        padding-bottom:7px;
        width: 280px;
        height:240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        box-shadow: 5px 5px #666;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        
    }


    #whiteBox div a:hover {
        background-color: #696969;
        box-shadow: 0 5px #708090;
    }

    #whiteBox div a:active {
        background-color: #708090;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

    .pic_02 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 238px;
        margin-left: 315px;
        padding-left: 89px;
        padding-right:89px;
        position:absolute;
        z-index:15;
        background-color:#666;
        transition:1s;
    }

    .pic_02 .pic_2 {
        padding-bottom:7px;
        width: 280px;
        height: 240px;
        margin-top:30px;
        margin-left: 20px;
        position: relative;
        transition:1s;
        box-shadow: 5px 5px #666;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
    }

    .pic_03 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 240px;
        margin-left: 636px;
        padding-left: 82px;
        padding-right:82px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_03 .pic_3 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        margin-left:12px;
    }

    .pic_04 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 240px;
        margin-left: 961px;
        padding-left: 61px;
        padding-right:61px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .pic_4 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        position: relative;
        transition:1s;
    }

    .pic_05 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 560px;
        margin-left: 26px;
        padding-left: 77px;
        padding-right:77px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_05 .pic_5 {
        width: 280px;
        height: 240px;
        margin-top:50px;
        position: relative;
        transition:1s;
        margin-left:-15px;
    } 
}

@media only screen and (max-width: 1430px) {



/*------------portfolio.html------------------------------------!1430!---------------portfolio.html------*/


    .pic_04 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 530px;
        margin-left: 23px;
        padding-left: 61px;
        padding-right:61px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .pic_4 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        margin-left:0px;
    }

    .pic_05 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 530px;
        margin-left: 350px;
        padding-left: 77px;
        padding-right:77px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_05 .pic_5 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        margin-left:0px;
    }

@media only screen and (max-width: 1103px) {


    .pic_03 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 530px;
        margin-left: 23px;
        padding-left: 82px;
        padding-right:82px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_05 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 840px;
        margin-left: 26px;
        padding-left: 77px;
        padding-right:77px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 530px;
        margin-left: 348px;
        padding-left: 61px;
        padding-right:61px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }
}


@media only screen and (max-width: 980px) {

    /*-----------contact.html-------------------------------------!980!-----------contact.html-------------*/

    .changeMe {
        background-color: #777;
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    .headerColor {
        background-color:#777;
        color:black;
        margin-left: 20px;
        transition: 1s; 
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*------------index.html--------------*/


    body {
        background-image: url(assets/images/gradient_blue_eppora.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 2s;
    }

    header {
        
        background-color: #ebebeb;
        height: 53px;
        transition: 1s;         
    }

    h1 {
        margin-top:0px;
        padding:0px;
        background: #217DB1;
        padding: 9px;
        margin-left: 60px;
        transition: 1s;     
    }

    nav li {
        
        transition: 1s; 
        margin-left: 20px;
        margin-right: 10px;    
    }

    #aboutMe {
        margin-left: 51px;
        margin-bottom: 150px;
        width:575px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #217DB1;
        border: 1px solid #777;
        background-color: #ebebeb;
        text-indent: 21px;
        padding-left: 10px;
        transition: 1s;     
    }

    /*-------------portfolio.html---------------------------------------!980!-------portfolio.html------*/

nav li {
    margin-top:10px;
    margin-right:60px;
    /* margin-left: 40px; */
    padding-right:50px;
}

    body {
        background-color: #777;
    }

    #whiteBox {
        margin: 20px auto 100px 60px;
        background: url(../images/gradient_deepblue.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1250px;
        transition:1s;
        
        margin-right:100px;
    }

    #contact {
        font-size: 40px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color:#217DB1;
        padding: 15px 0px 10px 15px;
        transition:1s;
        
    }

    .pic_01 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 238px;
        margin-left: 25px;
        padding-left: 10px;
        padding-right:10px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_01 .pic_1 {
        width: 280px;
        height:240px;
        margin-top:30px;
        position: relative;
        transition:1s;
    }

    .pic_02 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 238px;
        margin-left: 349px;
        padding-left: 89px;
        padding-right:89px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_02 .pic_2 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        
        position: relative;
        transition:1s;
    }

    .pic_03 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 570px;
        margin-left: 4px;
        padding-left: 82px;
        padding-right:82px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_03 .pic_3 {
        width: 280px;
        height: 240px;
        margin-top:60px;
        position: relative;
        transition:1s;
        margin-left:-20px;
    }

    .pic_04 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 570px;
        margin-left: 318px;
        padding-left: 61px;
        padding-right:61px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .pic_4 {
        width: 280px;
        height: 240px;
        margin-top:60px;
        position: relative;
        transition:1s;
        margin-left:-10px;
    }

    .pic_05 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 890px;
        margin-left: 4px;
        padding-left: 77px;
        padding-right:77px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_05 .pic_5 {
        width: 280px;
        height: 240px;
        margin-top:50px;
        position: relative;
        transition:1s;
        margin-left:-20px;
    }
}

@media only screen and (max-width: 768px) {

    /*-----------contact.html-------------------------------!768!----------------contact.html--------------*/

    .changeMe {
        background-color: #777;
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    .headerColor {
        background-color:#777;
        color:black;
        margin-left: 20px;
        transition: 1s; 
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*---------------Index.html--------------------------------!768!---------------Index.html-------------*/


    body {
        background-image: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition:3s;
    }

    #aboutMe {
        width:auto;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #217DB1;
        margin-top: 30px;
        margin-right:45px;
        background-image: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        text-indent: 21px;
        padding-left: 0px;
        transition:3s;   
    }

    nav li {
        transition: 1s; 
        margin-right: 60px;  
    }

    li a {
        color:black;
        transition:1s;
        margin-right:-30px;
    }

    h1 {
        background: #217DB1; 
        transition:1s; 
        margin-left:50px;
        
    }

    header {
        height: 53px;
        transition:1s;

    }

/*----------------portfolio.html--------------------------!768!---------------portfolio.html----------*/


h1 {
    margin-left:19px;
}
nav li {
    margin-left:20px;
    padding-right:40px;
    margin-top: 10px;
}

    #whiteBox {
        margin: 20px 45px 100px 20px;
        background:  url(../images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 2250px;
        transition:1s;
        height:1250px;
    }

    /* div #contact .port{
        font-size: 60px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color:#217DB1;
        padding: 15px 10px 10px 15px;
        transition:1s;
    } */

    .pic_01 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 230px;
        margin-left: 25px;
        padding-left: 10px;
        padding-right:10px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_01 .pic_1 {
        width: 280px;
        height:240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        margin-left:0px;
    }

    .pic_02 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 230px;
        margin-left: 349px;
        padding-left: 89px;
        padding-right:89px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_02 .pic_2 {
        width: 280px;
        height: 240px;
        margin-top:30px;
        position: relative;
        transition:1s;
        margin-left:20px;
    }

    .pic_03 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 570px;
        margin-left: 0px;
        padding-left: 82px;
        padding-right:82px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_03 .pic_3 {
        width: 280px;
        height: 240px;
        margin-top:60px;
        position: relative;
        transition:1s;
        
    }

    .pic_04 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 570px;
        margin-left: 308px;
        padding-left: 61px;
        padding-right:61px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .pic_4 {
        width: 280px;
        height: 240px;
        margin-top:60px;
        position: relative;
        transition:1s;
        margin-left:-15px;
    }

    .pic_05 .txt {
        color:black;
        font-size: 24.2px;
        margin-top: 910px;
        margin-left: 26px;
        padding-left: 77px;
        padding-right:77px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
        margin-left:0px;
    }

    .pic_05 .pic_5 {
        width: 280px;
        height: 240px;
        margin-top:70px;
        position: relative;
        transition:1s;
        
    }
}

@media only screen and (max-width: 720px) {

/*------------portfolio.html............................................!700!-----------------portfolio.html---*/

/* #whiteBox {
    margin: 20px 30px 100px 20px;
    background-color: black;
    height: 119rem;
    transition:1s;
} */

.pic_02 .pic_2 {
    width: 280px;
    height: 240px;
    margin-top:30px;
    position: relative;
    transition:3s;
}

.pic_02 .txt {
    color:black;
    font-size: 24.2px;
    margin-top: 535px;
    margin-left: 26px;
    padding-left: 89px;
    padding-right:89px;
    position:absolute;
    z-index:15;
    background-color:grey;
    transition:1s;
}

.pic_03 .txt {
    color:black;
    font-size: 24.2px;
    margin-top: 870px;
    margin-left: 25px;
    padding-left: 82px;
    padding-right:82px;
    position:absolute;
    z-index:15;
    background-color:grey;
    transition:1s;
}

.pic_04 .txt {
    color:black;
    font-size: 24.2px;
    margin-top: 1210px;
    margin-left: 26px;
    padding-left: 61px;
    padding-right:61px;
    position:absolute;
    z-index:15;
    background-color:grey;
    transition:1s;
}



.pic_05 .txt {
    color:black;
    font-size: 24.2px;
    margin-top: 1530px;
    margin-left: 26px;
    padding-left: 77px;
    padding-right:77px;
    position:absolute;
    z-index:15;
    background-color:grey;
    transition:1s;
}


@media only screen and (max-width: 640px) {

    /*-----------contact.html-----------------------------------------------!640!------------contact.html---*/

    .changeMe {
        background-color: #777;
    }

    #formBox {
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 70px 30px 100px 30px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(26, 90, 128);
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    }
        

    .headerColor {
        background-color:#777;
        color:rgb(47, 64, 87);
        margin-left: 210px;
        transition: 1s; 
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
        
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
        
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:rgb(26, 90, 128);
        border:2px solid #777;
        padding:5px;  
    }


    /*-----------index.hmtl---------------------------------------!640!----------index.html------------*/

    


    body {
        background-image: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
    }

    nav li {
        margin-left: 50px;
        margin-right: 20px;
        transition: 1s;
        
        
    }

    li a {
        color:#217DB1;
        margin-right:45px;
        transition: 1s;
    }

    li a:hover {
        color: black;
    }

    #container h1 {
        background-image: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 210px;
        transform:scale(1.2);
        transition: 4s;
        color:rgb(6, 88, 136);
        border: 2px solid black;
        margin-top:6px;
        
    }

    #aboutMe {
        
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        color: black;
        padding-top: 30px;  
        transition: 1s;
        padding-bottom: 45px; 
        margin-bottom: 150px; 
        margin-left:40px;
        width:auto;
    }

    .pic {
        transform:scale(1.5);
        margin-left: 150px;
        margin-top: 69px;
        transition: 3s;
        width:auto;
        border: 1.5px black solid;
    }

    .pic:hover {
        transform:scale(1.2);
    }
    .p1 {
        margin-top: 450px;
        transition: 4s;
    }

/*-------------portfolio.html-------------------------------!640!--------------portfolio.html------------*/

#contact {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#217DB1;
    padding: 15px 0px 10px 15px;
    transition:1s;
    text-align:center;
}

nav li {
    margin-top:15px;
    margin-left:50px;
    
}

#whiteBox {
    height: 2300px;
}
/* #whiteBox ._white {
    height:3000px;
} */

#whiteBox .u4g2 div a{
    margin-left:-5px;
    font-size:20px;
    text-decoration: none;
    color:black;
    position: absolute;
    margin-top: 750px;
    z-index: 20;
    padding-left: 200px;
    padding-right: 206px;
    background-color: #777;
    opacity: 0.75;  
}

#whiteBox .wgg2 div a {
    margin-left:-5px;
    font-size:20px;
    text-decoration: none;
    color:black;
    position: absolute;
    margin-top: 345px;
    z-index: 20;
    padding-left:170px;
    padding-right: 176px;
    background-color: #777;
    opacity: 0.75;  
}

    #whiteBox .port {
        margin: 50px 20px 500px 10px;
        padding-bottom:400px;
        
        transition:1s;
        
    }

    /* #contact {
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color:#217DB1;
        padding: 15px 0px 10px 15px;
        transition:1s;
        
    } */

    #whiteBox div a {
        margin-left:8px;
        display: block;
        font-size:40px;
        text-decoration: none;
        color:black;
        position: absolute;
        margin-top: 290px;
        z-index: 20;
        padding-left: 81px;
        padding-right: 81px;
        background-color: #777;
        opacity: 0.75;  
    }


    /* .pic_01 .txt {
        color:black;
        font-size: 40px;
        margin-top: 275px;
        margin-left: 25px;
        padding-left: 46px;
        padding-right:46px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    } */

    .pic_01 .pic_1 {
        width: 525px;
        height:400px;
        margin-top:40px;
        position: relative;
        transition:1s;
        margin-left:-10px;
    }

    .pic_02 .txt {
        color:black;
        font-size: 40px;
        margin-top: 465px;
        margin-left: 26px;
        padding-left: 178px;
        padding-right:177px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_02 .pic_2 {
        width: 525px;
        height:400px;
        margin-top:70px;
        position: relative;
        transition:1s;
        margin-left:-10px;
        
    }

    .pic_03 .txt {
        color:black;
        font-size: 40px;
        margin-top: 1100px;
        margin-left: -5px;
        padding-left: 166px;
        padding-right:166px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

   

    .pic_03 .pic_3 {
        width: 525px;
        height:400px;
        margin-top:60px;
        position: relative;
        transition:1s;
        margin-left:-30px;
    }

    .pic_04 .txt {
        color:black;
        font-size: 40px;
        margin-top: 1550px;
        margin-left: -5px;
        padding-left: 131px;
        padding-right:131px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_04 .pic_4 {
        width: 525px;
        height:400px;
        margin-top:70px;
        position: relative;
        transition:1s;
        margin-left:-30px;
    }

    .pic_05 .txt {
        color:black;
        font-size: 40px;
        margin-top: 1980px;
        margin-left: -5px;
        padding-left: 159px;
        padding-right:159px;
        position:absolute;
        z-index:15;
        background-color:grey;
        transition:1s;
    }

    .pic_05 .pic_5 {
        width: 525px;
        height:400px;
        margin-top:70px;
        position: relative;
        transition:1s;
        margin-bottom:75px;
        margin-left:-30px;
    }
    

}
}
}






















