/* body {
    max-width: 100%;
    margin:auto;  
} */

/* header {
    width: auto;
    background-image: url(assets/images/gradient.jpeg);
    height: 75px;
    margin: 0px;     
} */

header {
        
    background: rgb(28, 42, 56);
    height: 53px;
            
}



nav {
    float:right;   
}

li a{
    text-decoration: none;
    color: rgb(48, 167, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    
}
    


nav li  {
    display: inline-block;
    /* margin-right: 30vw; */
    /* padding-top: 8px; */
    /* position: relative; */
    
}







/* img {
    max-height: 320px;
    float:left;
    padding: 14px 18px 18px 25px;
    z-index: 10;
} */

.blue_box {
    position: fixed;
    left:0px;
    bottom: 40px;
    height: 5px;
    width: 100%;
    background-color: #217DB1;
    margin-top: 49px;   
    z-index:30;
}

footer {
    position: fixed;
    left:0px;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    z-index:30;
}




@media only screen and (max-width: 2500px) {

/*---------------contact.html---------------------------------------!2500!--------contact.hmtl----------*/
    

  

    .changeMe {
        background-color: rgb(98, 132, 167);
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(assets/images/gradient_silver.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*------------index.html------------------------------!2500!------------------index.html------------*/
    .pic {
        width:60vw;
        margin:0 auto;
    }

    .bio {
        width:80vw;
        text-indent:7vw;
        margin:0 auto;
        line-height:9vw;
        margin-top:  30vw;
        margin-bottom:  30vw;
        
    }


    

    /*-------------portfolio.html----------------------------------------!2500!-----------portfolio.html--*/


    nav li{
        background: #234;
        padding:18px;
        margin-left:7vw;
        border-radius:15px;
        
    }

    nav ul {
        margin-right:16vw;   
    }

    h1 {
        padding:10px 30px 0px 30px;
        font-size:32px;
        background: rgb(28, 42, 56);
        height:43px;
        margin-left: 4vw;
        
        text-align:center;
        color:#ebebeb; 
        font-family: Arial, Helvetica, sans-serif;
        float: left; 
    }

    #main-container {
        background: url(../images/gradient_silverblue.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
        margin:0;
        padding:0;
        min-height: calc(100vh - 70px);
      }
      
      .main-section {
        display:inline-grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top:4vw;
        margin-left:4vw;
        margin-right:3vw;
        margin-bottom:7vw;
        width:80vw;
        background: rgba(0,0,0,0.4);
      }
      
      .titlePort{
        margin-left:28px;
        margin-top:10px;
        font-size:4vw;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
       }

      .work {
        position: relative;
        float: left;
        margin: 20px -10px 25px 30px;;
       }

      .work img {
        width: 90%;
        height: 25vw;
        border: 0 none;

      } 

      .work  h3 {
        position: absolute;
        bottom: 40px;
        width: 88.8%;
        padding:4px;
        color:white;
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.5);
        border-bottom: 0;
      }

      a {
          color:white;
          text-decoration:none;
          font-family:Arial, Helvetica, sans-serif;
          font-size:14px;
      }


@media only screen and (max-width: 988px) {

    /*-----------contact.html-------------------------------------!980!-----------contact.html-------------*/

    .changeMe {
        background-color: #777;
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*------------index.html----------------------------------(988)-----*/


    .pic {
        width:60vw;
        margin:0 auto;
    }

    .bio {
        width:80vw;
        text-indent:7vw;
        margin:0 auto;
        line-height:9vw;
        margin-top:  30vw;
        margin-bottom:  30vw;
        
    }

    

    

    /*-------------portfolio.html---------------------------------------!988!-------portfolio.html------*/

    nav li{
        background: #234;
        padding:18px;
        margin-left:3vw;
        border-radius:15px;
        
    }

    nav ul {
        margin-right:4vw; 
        transition:0.3s;  
    }

    h1 {
        padding:10px 30px 0px 30px;
        font-size:32px;
        background: rgb(28, 42, 56);
        height:43px;
        margin-left: 4vw;
        
        text-align:center;
        color:#ebebeb; 
        font-family: Arial, Helvetica, sans-serif;
        float: left; 
    }

    #main-container {
        background: url(../images/gradient_blue_eppora.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
        margin:0;
        padding:0;
        min-height: calc(100vh - 70px);
      }
  
      .main-section {
        display:inline-grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top:4vw;
        margin-left:4vw;
        margin-right:3vw;
        margin-bottom:7vw;
        width:90vw;
        background: rgba(0,0,0,0.4);
      }

      .titlePort{
        margin-left:28px;
        margin-top:15px;
        font-size:4vw;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
       }

       .work {
        position: relative;
        float: left;
        margin: 20px -10px 25px 30px;;
       }

      .work img {
        width: 80%;
        height: 35vw;
        border: 0 none;

      } 

      .work  h3 {
        position: absolute;
        bottom: 40px;
        width: 88.8%;
        padding:4px;
        color:white;
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.5);
        border-bottom: 0;
      }

      a {
          color:white;
          text-decoration:none;
          font-family:Arial, Helvetica, sans-serif;
          font-size:14px;
      }
    }
  
 
  


    

@media only screen and (max-width: 768px) {

    /*-----------contact.html-------------------------------!768!----------------contact.html--------------*/

    .changeMe {
        background-color: #777;
        transition:1s;
    }

    #formBox {
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 20px 20px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#217DB1;
        transition:1s;
    }

    .formTxt  {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        transition:1s;
    }

    

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:#217DB1;
        border:2px solid #777;
        padding:5px;  
    }

    /*---------------Index.html--------------------------------!768!---------------Index.html-------------*/

    .pic {
        width:60vw;
        margin:0 auto;
    }

    .bio {
        width:80vw;
        text-indent:7vw;
        margin:0 auto;
        line-height:9vw;
        margin-top:  30vw;
        margin-bottom:  30vw;
        
    }
    

    

/*----------------portfolio.html--------------------------!768!---------------portfolio.html----------*/


nav li{
    background: #234;
    padding-right:20px;
    margin-left:.2vw;
    border-radius:15px;
    color:white;
    
}

nav ul {
    margin-right:2vw; 
    transition:0.3s;  
    
}

h1 {
    padding:10px 30px 0px 30px;
    font-size:32px;
    background: rgb(28, 42, 56);
    height:43px;
    margin-left: 4vw;
    
    text-align:center;
    color:#ebebeb; 
    font-family: Arial, Helvetica, sans-serif;
    float: left; 
}

#main-container {
    background: url(../images/gradient_rainbow.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
    min-height: calc(100vh - 70px);
  }

  .main-section {
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top:4vw;
    margin-left:4vw;
    margin-right:3vw;
    margin-bottom:7vw;
    width:90vw;
    background: rgba(0,0,0,0.4);
  }

  .titlePort{
    margin-left:28px;
    margin-top:15px;
    font-size:4vw;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
   }

   .work {
    position: relative;
    float: left;
    margin: 20px -10px 25px 30px;;
   }

  .work img {
    width: 90%;
    height: 35vw;
    border: 0 none;

  } 

  .work  h3 {
    position: absolute;
    bottom: 40px;
    width: 88.8%;
    padding:4px;
    color:white;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-bottom: 0;
  }

  a {
      color:white;
      text-decoration:none;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
  }
}

 


    

/* @media only screen and (max-width: 640px) { */

    /*-----------contact.html-----------------------------------------------!640!------------contact.html---*/

    

    /* #formBox {
        width:82vw;
        height: 500px;
        background: url(https://wallpapercave.com/wp/pmhRTcZ.jpg);
        margin: 70px 30px 100px 20px;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(26, 90, 128);
    }

    .formTxt  {
        width:20vw;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    }
        

    input[type=text] {
        width:155px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 10px 12px 25px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 95%;
        border: 3px solid rgb(51, 50, 50);
    }

    #name {
        padding-bottom:18px;
        
    }

    #email {
        padding-bottom:18px;
    }

    #message {
        padding-bottom:18px;
        
    }

    textarea[name=textarea] {
        width: 94%;
        height:7rem;
    }

    input[type=submit] {
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background-color:rgb(26, 90, 128);
        border:2px solid #777;
        padding:5px;  
    } */


    /*-----------index.hmtl---------------------------------------!640!----------index.html------------*/

    
    /* .pic {
        width:60vw;
        margin:0 auto;
    }

    .bio {
        width:80vw;
        text-indent:7vw;
        margin:0 auto;
        line-height:9vw;
        margin-top:  30vw;
        margin-bottom:  30vw;
        
    } */

   

   

    
   

/*-------------portfolio.html-------------------------------!640!--------------portfolio.html------------*/



/* nav li{
    background: #234;
    padding-right:15px;
    margin-left:.5vw;
    border-radius:15px;
    
}

nav ul {
    margin-right:-2vw; 
    transition:0.3s;  
    
}

h1 {
    padding:10px 30px 0px 30px;
    font-size:32px;
    background: rgb(28, 42, 56);
    height:43px;
    margin-left: 4vw;
    
    text-align:center;
    color:#ebebeb; 
    font-family: Arial, Helvetica, sans-serif;
    float: left; 
}


#main-container {
    background: url(../images/gradient_deepblue.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
    min-height: calc(100vh - 70px);
  }

  .main-section {
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top:10vw;
    margin-left:4vw;
    margin-right:3vw;
    margin-bottom:17vw;
    width:90vw;
    background: rgba(0,0,0,0.4);
  }

  .titlePort{
    text-align:center;
    margin-top:15px;
    font-size:4vw;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
   }

   .work {
    position: relative;
    float: left;
    margin: 20px -10px 25px 30px;;
   }

  .work img {
    width: 90%;
    height: 38vw;
    border: 0 none;

  } 

  .work  h3 {
    position: absolute;
    bottom: 40px;
    width: 88.8%;
    padding:4px;
    color:white;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-bottom: 0;
  }

  a {
      color:white;
      text-decoration:none;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
  }
} */

@media only screen and (max-width: 375px) {


    .pic {
        width:60vw;
        margin:0 auto;
    }

    .bio {
        width:80vw;
        text-indent:7vw;
        margin:0 auto;
        line-height:9vw;
        margin-top:  30vw;
        margin-bottom:  30vw;
        
    }



    /* ===============================portfolio==========================375===*/

    nav li{
        background:rgba(255, 255, 255, 0.4);
        padding-right:15px;
        margin-left:14vw;
        border-radius:15px;
        
        
    }
    
    nav ul {
        display:flex;
        margin-top:40vw;
        margin-right:2vw; 
        
        margin-bottom:30vw; 
        
    }

    li a {
        color:black;
        
    }
    
    h1 {
        
        margin-top:13vw;
        font-size:50px;
        background: rgb(28, 42, 56);
        height:100px;
        margin-left:17vw;
        border-radius: 0px 0px 20px 20px;
        
        text-align:center;
        color:#ebebeb; 
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    #main-container {
        background: url(../images/gradient_sunset.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
        margin:0;
        padding:0;
        min-height: calc(100vh - 70px);
      }
    
      .main-section {
        display:inline-grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-top:4vw;
        margin-left:3vw;
        margin-bottom:40vw;
        
        width:94vw;
        background: rgba(0,0,0,0.4);
      }
    
      .titlePort{
        left:-9vw;
        padding:35vw;
        height:10vw;
        width:30vw;
        margin-top:40vw;
        margin-bottom:40vw;
        font-size:30px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        background:rgba(255, 255, 255, 0.1);
       }
    
       .work {
        position: relative;
        float: left;
        width:102vw;
        
        margin-left:1vw;
        
       }
    
      .work img {
        
        height: 80vw;
        
    
      } 
    
      .work  h3 {
        position: absolute;
        bottom: 30px;
        width: 88.1%;
        padding:4px;
        color:white;
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.5);
        border-bottom: 0;
      }
    
      a {
          color:white;
          text-decoration:none;
          font-family:Arial, Helvetica, sans-serif;
          font-size:14px;
      }
}




























